@import './modules/_reset';
@import './modules/_vars';

@import './modules/_chatmessage';

// write some defaults here
body {
    font-size: 16px;
    background-color: #333;
    color: white;

    font-family: Arial, Helvetica, sans-serif;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
}