#app {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: auto 1fr;
    align-items: center;
    margin-top: 4.5em;
    justify-items: center;
}

section:first-child {
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
}

section:last-child {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
    margin-top: 3em;
}

h2 {
    margin: 0;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    font-size: 1.1rem;
    border-radius: 5px;
    border: 1px solid #000;
    margin-bottom: 10px;
    margin-top: 10px;
}

input[type="submit"] {
    padding: 10px 20px;
    font-size: 1.1rem;
    border-radius: 5px;
    border: none;
    background-color: #fff;
    color: #000;
    cursor: pointer;
    border: 1px solid #000;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

article p {
    border: 1px solid #000;
    font-size: 16px;
    padding: 5px;
}

.messages {
    overflow-y: scroll;
    height: 400px;
}