#foot {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    justify-items: center;
    align-items: center;
    background-color: #fff;
}

.footer-content {
    text-align: center;
}

.copyright {
    font-size: 20px;
}