#foot {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    background-color: #007bff;
    color: #fff;
    padding: 1rem;
}

.footer-content {
    text-align: center;
}