#head {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 1rem;
    background-color: #007bff;
    color: #fff;
    text-align: center;
}

.logo-heading-nav {
    height: auto;
}

.logo img {
    max-width: 100%;
    height: auto;
    margin-right: 10px;
}

.heading {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
}

.main-headline {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 0;
    color: #333;
}

.main-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.main-navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.main-navigation li {
    margin-right: 20px;
}

.main-navigation a img {
    display: block;
    width: 30px;
    height: 30px;
    background-size: cover;
}

/* Add responsive design for smaller screens */
@media (max-width: 768px) {
    #head {
        grid-template-columns: 1fr;
    }

    .main-navigation {
        flex-direction: column;
        margin-top: 0;
    }

    .main-navigation li {
        margin-right: 0;
        margin-bottom: 10px;
    }
}
