#head {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 1rem;
    background-color: #007bff;
    color: #fff;
}

.logo-heading-nav {
    height: 200px;
}

.logo img {
    width: 200px;
    height: auto;
    margin-right: 10px;
}

.heading {
    display: grid;
}

.main-headline {
    grid-column: 2 / span 1;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: -1.7em;
}

.main-navigation {
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: -4em;
}

.main-navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.main-navigation li {
    margin-right: 10px;
}

.main-navigation a img {
    display: block;
    width: 30px;
    height: 30px;
    background-size: cover;
}